@media (min-width: 670px) {
  .home-title {
    padding: 12px 24px;
  }
  .wrap-home_item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .wrap-home_btn {
    width: 300px;
  }

  .profile-bar button {
    font-size: 1.1rem;
    letter-spacing: 6px;
  }
  .data-wrap {
    flex-direction: row;
  }
  .data-wrap h4 {
    font-size: 1.1rem;
    text-align: justify;
  }
  .data-wrap img {
    width: 20rem;
    height: 26rem;
  }

  form {
    padding: 0 3rem;
  }

  .tech-wrap {
    height: 32rem;
  }
  .tech-wrap .tech {
    gap: 3rem;
  }
  .tech-wrap .tech img {
    width: 5.6rem;
    height: 5.3rem;
  }

  .modal-content {
    width: 65vw;
    font-size: 1.3rem;
  }
  .modal-content h2 {
    width: 90%;
  }
  .modal-content ul li {
    padding-bottom: 0.5rem;
  }
  .wrap-input {
    margin-left: 2rem;
  }
}
@media (min-width: 1024px) {
  .profile {
    margin: 0 10rem;
  }
  .profile-bar {
    margin-top: -2rem;
  }
  .data-wrap,
  .tech-wrap {
    height: 31.8rem;
  }
  .data-wrap {
    padding: 0 5rem;
  }
  .data-wrap .data {
    gap: 3rem;
  }
  .data-wrap .btn,
  .contact-wrap .btn {
    width: 20rem;
  }
  .data-wrap .btn:hover,
  .contact-wrap .btn:hover {
    letter-spacing: 3px;
  }
  .tech-wrap h1 {
    padding-bottom: 4rem;
  }
  .modal-content {
    width: 50vw;
    font-size: 1.3rem;
  }
}
