@import url('https://fonts.googleapis.com/css2?family=Inter&display=swapsection');
* {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  margin: 0;
  outline: none;
}
a {
  color: #fff;
}
.container {
  padding: 1rem 2rem;
  display: grid;
  place-items: center;
}
.home-title {
  text-align: center;
  padding: 10px 1px;
  margin-top: 1rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.logo {
  width: 12rem;
  height: 10.5rem;
  margin-top: -1rem;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.wrap-home_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}
.wrap-home_btn {
  width: 100%;
  margin: 2rem 0 0;
}
.wrap-home_item:hover .home-btn {
  filter: blur(4px);
}
.wrap-home_item .home-btn:hover {
  filter: blur(0);
}
.home-btn {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 4rem;
  gap: 1rem;
  border-radius: 1rem;
  background-color: #0081dd;
  color: #fff;
}
.home-btn h1 {
  font-weight: 300;
}
.home-btn img {
  height: 1.9rem;
}

.title-project {
  font-size: 3rem;
  text-transform: uppercase;
  margin: -1rem 0 2rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 183, 255, 0.3);
}
.back {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-bottom: 3rem;
  width: 7rem;
  color: #000000;
  background: rgba(0, 183, 255, 0.3);
}
.back:hover {
  background: rgba(0, 183, 255, 0.9);
}
/* Profile  start */
.background-profile {
  background: #000000;
  width: 100%;
  height: 100vh;
}
.profile {
  border-radius: 1rem;
  border: 8px #ffffff solid;
  color: #fff;
}
.profile-bar {
  display: flex;
  justify-content: center;
}
.profile-bar button {
  padding: 15px 24px;
  border-radius: 1rem 1rem 0 0;
  background: #00bbff;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #ffffff;
  border: 5px solid #fff;
  border-bottom: none;
  transition: 0.3s ease;
}
.profile-bar button:hover {
  background: #0033ff;
}
/* Profile Bar end */

/* Data start */
.data-wrap {
  padding: 2rem 1rem;
  line-height: 2.2rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;
  background: #00b3ff;
  border-radius: 8px;
  overflow: hidden;
}
.data-wrap .data {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.data-wrap h3 {
  font-size: 2rem;
  border-bottom: 5px #ffffff solid;
  width: 70%;
  padding: 10px 0;
}
.data-wrap h4 {
  font-size: 1.4rem;
}
.data-wrap .btn,
.contact-wrap .btn {
  width: 10rem;
  padding: 12px 24px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  border-radius: 1rem;
  border: 4px #0081dd solid;
}
.data-wrap .btn:hover,
.contact-wrap .btn:hover {
  transition: 0.2s ease;
  background: #6dd3ff;
  border: 4px #ffffff solid;
}
.data-wrap button img {
  width: 1.5rem;
  height: 1.5rem;
  top: 0;
}
.data-wrap img {
  width: 24rem;
  height: 29rem;
}
/* Data end */

/* Contact start */
.contact-wrap {
  background: #00b3ff;
  padding: 2rem 1rem 1rem;
  border-radius: 8px;
  overflow: hidden;
}
.contact-wrap h2 {
  text-align: center;
}
form {
  margin: 1rem 0;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
form button {
  margin: 2rem auto 0;
}
form label {
  font-size: 1rem;
  font-weight: bold;
}
form input,
form textarea {
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 1rem;
}
form input {
  height: 3rem;
}
form textarea {
  height: 6rem;
}
/* Contact end */

/* Technology start */
.tech-wrap {
  background: #ffffff;
  padding-bottom: 2rem;
  overflow: hidden;
}
.tech-wrap h1 {
  text-align: center;
  color: #000000;
  padding: 2rem;
}
.tech-wrap .tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}
.tech-wrap .tech img {
  width: 4.3rem;
  height: 4rem;
}
/* Technology end */

/* Card start */
.wrap-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  --bg-card: #27272a;
  --primary: #0081dd;
  --primary-800: #4c1d95;
  --light: #ffffff;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
  --bg-linear2: linear-gradient(0deg, #002fff 50%, var(--light) 125%);

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  width: 20rem;
  /* height: 20rem; */
  background-color: var(--bg-card);
  border-radius: 1rem;
}

.image_container {
  overflow: hidden;
  position: relative;
  height: 11rem;
  border-radius: 0.5rem;
  background-color: var(--light);
}

.image_container img {
  position: absolute;
  display: grid;
  place-items: center;
  width: 18rem;
  height: 11rem;
}
.technology {
  display: flex;
  gap: 0.3rem;
  padding-top: 0.5rem;
}
.technology img {
  width: 2rem;
}

.title {
  overflow: clip;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--light);
  text-transform: capitalize;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.cart-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  background-image: var(--bg-linear);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.25rem 1px var(--light);
}
.cart-button:hover {
  background-image: var(--bg-linear2);
}
/* Card end */

/* Modal start */
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff0000;
  padding: 20px;
  border-radius: 8px;
  width: 80vw;
}
.modal-content h2 {
  width: 80%;
  text-align: start;
  padding-bottom: 1.3rem;
}
.modal-content .wrap-input {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  word-wrap: break-word;
}
.modal-content ul li {
  line-height: 1.5rem;
}
.close {
  cursor: pointer;
  right: 1.5rem;
  top: 0;
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
}
.modal-btn {
  display: flex;
  justify-content: end;
  margin-top: 1.5rem;
}
/* Modal end */
